src/Huxley/Service References/ldbServiceReference/RTTI_2014-02-20_ldb_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ct="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" xmlns:prev="http://thalesgroup.com/RTTI/2012-01-13/ldb/types" xmlns:tns="http://thalesgroup.com/RTTI/2014-02-20/ldb/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://thalesgroup.com/RTTI/2014-02-20/ldb/types" id="RTTI_2014-02-20_ldb_types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="rtti_2007-10-10_ldb_common_types.xsd" namespace="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" />
  <xs:import schemaLocation="rtti_2012-01-13_ldb_types.xsd" namespace="http://thalesgroup.com/RTTI/2012-01-13/ldb/types" />
  <xs:complexType name="ServiceLocation">
    <xs:annotation>
      <xs:documentation>An individual origin or destination location of a service. Note that vias will only be specified for destinations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of this origin or destination location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="via" type="xs:string">
        <xs:annotation>
          <xs:documentation>A text string that disambiguates services that may have more than one possible route to the destination. The format will typically be as in this example: "via Manchester Piccadilly &amp; Wilmslow"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="futureChangeTo" type="xs:string">
        <xs:annotation>
          <xs:documentation>A text string containing the service type (Bus/Ferry/Train) which will be used to get to this future destination if it differs from the current service type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="assocIsCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>This origin or destination can no longer be reached because the association has been cancelled.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceLocations">
    <xs:annotation>
      <xs:documentation>A list of origins or destinations of an individual service. Note that a service can have multiple origins and/or destinations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="tns:ServiceLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceItem">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="origin" type="tns:ArrayOfServiceLocations">
        <xs:annotation>
          <xs:documentation>A list of origins of this service. Note that a service may have more than one origin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destination" type="tns:ArrayOfServiceLocations">
        <xs:annotation>
          <xs:documentation>A list of destinations of this service. Note that a service may have more than one destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currentOrigins" type="tns:ArrayOfServiceLocations">
        <xs:annotation>
          <xs:documentation>A list of the current origins for this service. Note that a service may have more than one current origin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currentDestinations" type="tns:ArrayOfServiceLocations">
        <xs:annotation>
          <xs:documentation>A list of the current destinations for this service. Note that a service may have more than one current destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sta" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of arrival of this service. If no sta is present then this is the origin of this service or it does not set down passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eta" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated (or actual) time of arrival. Will only be present if sta is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="std" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of departure of this service. If no std is present then this is the destination of this service or it does not pick up passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="etd" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated (or actual) time of departure. Will only be present if std is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="platform" type="ct:PlatformType">
        <xs:annotation>
          <xs:documentation>The platform number (if known and available).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operator" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The Train Operating Company of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatorCode" type="ct:TOCCode">
        <xs:annotation>
          <xs:documentation>The Train Operating Company code of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCircularRoute" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A flag to indicate if this service is running as part of a circular route and will call at this location again later in its journey.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceID" type="prev:ServiceIDType">
        <xs:annotation>
          <xs:documentation>A unique ID for this service at this location that can be used to obtain full details of the service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="adhocAlerts" type="prev:ArrayOfAdhocAlert">
        <xs:annotation>
          <xs:documentation>A list of Adhoc Alers related to this locationa for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceItems">
    <xs:annotation>
      <xs:documentation>A list of services on a departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:ServiceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationBoard">
    <xs:annotation>
      <xs:documentation>A structure containing details of a departure board for a specific location.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generatedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A timestamp of the time this station departure board was generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the location that this departure board is for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the location that this departure board is for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="filterLocationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>If a filter was specified in the request, the display name of the location that was specifed as the filter.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="filtercrs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>If a filter was specified in the request, the CRS code of the filter location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="to" name="filterType" type="ct:FilterType">
        <xs:annotation>
          <xs:documentation>If a filter was specified in the request, the type of filter that was requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nrccMessages" type="prev:ArrayOfNRCCMessages">
        <xs:annotation>
          <xs:documentation>A list of messages that apply to this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="platformAvailable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A flag to indicate whether platform information is available for this departure board. If this flag is false then platforms will not be returned in the service lists and a user interface should not display a platform "heading".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="true" name="areServicesAvailable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If this flag is present with the value of "true" then service data will be unavailable and the service lists will not be returned. This may happen for example if access to a station has been closed to the public at short notice, even though the scheduled services are still running.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="trainServices" type="tns:ArrayOfServiceItems">
        <xs:annotation>
          <xs:documentation>A list of train services for this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="busServices" type="tns:ArrayOfServiceItems">
        <xs:annotation>
          <xs:documentation>A list of scheduled or replacement rail bus services for this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ferryServices" type="tns:ArrayOfServiceItems">
        <xs:annotation>
          <xs:documentation>A list of ferry services for this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCallingPoints">
    <xs:annotation>
      <xs:documentation>A list of calling points in a single journey segment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="callingPoint" nillable="true" type="prev:CallingPoint" />
    </xs:sequence>
    <xs:attribute name="serviceType" type="ct:ServiceType">
      <xs:annotation>
        <xs:documentation>The type of service (train, bus, ferry) of this list of calling points.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serviceChangeRequired" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>A boolean to indicate that passenger required to change the service or not.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="assocIsCancelled" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>A boolean to indicate that this route from the origin or to the destination can no longer be reached because the association has been cancelled.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ArrayOfArrayOfCallingPoints">
    <xs:annotation>
      <xs:documentation>A list of calling point lists representing multiple journey segments. Refer to the documentation for how these lists should be handled.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="callingPointList" nillable="true" type="tns:ArrayOfCallingPoints" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceDetails">
    <xs:annotation>
      <xs:documentation>A structure containing details of an individual service obtained from a departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generatedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A timestamp of the time these service details were generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceType" type="ct:ServiceType">
        <xs:annotation>
          <xs:documentation>The type of service (train, bus, ferry) that these details represent. Note that real-time information (e.g. eta, etd, ata, atd, isCancelled, etc.) is only available and present for train services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the departure board location that these service details were accessed from.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the departure board location that these service details were accessed from.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operator" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The display name of the Train Operating Company that operates this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatorCode" type="ct:TOCCode">
        <xs:annotation>
          <xs:documentation>The code of the Train Operating Company that operates this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates that the service is cancelled at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disruptionReason" type="xs:string">
        <xs:annotation>
          <xs:documentation>A disruption reason for this service. If the service is cancelled, this will be a cancellation reason. If the service is running late at this location, this will be a late-running reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="overdueMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>If an expected movement report has been missed, this will contain a message describing the missed movement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="platform" type="ct:PlatformType">
        <xs:annotation>
          <xs:documentation>The platform number that the service is expected to use at this location, if known and available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sta" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of arrival of this service at this location. If no sta is present then this is the origin of this service or it does not set down passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eta" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of arrival. Will only be present if sta is also present and ata is not present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ata" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of arrival. Will only be present if sta is also present and eta is not present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="std" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of departure of this service at this location. If no std is present then this is the destination of this service or it does not pick up passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="etd" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of departure. Will only be present if std is also present and atd is not present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="atd" type="prev:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of departure. Will only be present if std is also present and etd is not present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="adhocAlerts" type="prev:ArrayOfAdhocAlert">
        <xs:annotation>
          <xs:documentation>A list of active Adhoc Alert texts  for to this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="previousCallingPoints" type="tns:ArrayOfArrayOfCallingPoints">
        <xs:annotation>
          <xs:documentation>A list of lists of the previous calling points in the journey. A separate calling point list will be present for each origin of the service, relative to the current location. Refer to the documentation for how these lists should be handled.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subsequentCallingPoints" type="tns:ArrayOfArrayOfCallingPoints">
        <xs:annotation>
          <xs:documentation>A list of lists of the subsequent calling points in the journey. A separate calling point list will be present for each destination of the service, relative to the current location. Refer to the documentation for how these lists should be handled.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>