src/Huxley/Service References/ldbStaffServiceReference/RTTI_2015-11-27_ldbsv_common_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ct="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" xmlns:tns="http://thalesgroup.com/RTTI/2015-11-27/ldbsv/commontypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://thalesgroup.com/RTTI/2015-11-27/ldbsv/commontypes" id="RTTI_2015-11-27_ldbsv_common_types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="rtti_2007-10-10_ldb_common_types.xsd" namespace="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" />
  <xs:simpleType name="ReasonCodeType">
    <xs:annotation>
      <xs:documentation>A coded cancellation or late-running reason</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="TimeType">
    <xs:annotation>
      <xs:documentation>Represents a time displayed in a departure board or service details.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="ForecastType">
    <xs:annotation>
      <xs:documentation>An enumerated type indicating the type of a forecast</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forecast" />
      <xs:enumeration value="Actual" />
      <xs:enumeration value="NoLog" />
      <xs:enumeration value="Delayed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ServiceMaskType">
    <xs:annotation>
      <xs:documentation>A set of character values that can be used to filter by type of service. Values should be interpreted as P=Passenger train, B=Bus, S=Ship (ferry).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:pattern value="[BPS]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DepBoardDateType">
    <xs:annotation>
      <xs:documentation>The date relative to the specified date. It is an enumeration of "Previous Day", "Same Day", and "Next Day".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PreviousDay" />
      <xs:enumeration value="SameDay" />
      <xs:enumeration value="NextDay" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DepBoardTimeType">
    <xs:annotation>
      <xs:documentation>The time of the departure board.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time" />
  </xs:simpleType>
  <xs:simpleType name="ServiceIDType">
    <xs:annotation>
      <xs:documentation>The ID of the service. Must be a valid UID, Headcode, or RSID. It must be a string of 4 or 6 alphanumerics.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SourceType">
    <xs:annotation>
      <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of departure or arrival.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="SourceInstanceType">
    <xs:annotation>
      <xs:documentation>A string to indicate the source instance of the forecast/movement of expected time of departure or arrival.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="FullTiplocType">
    <xs:annotation>
      <xs:documentation>Full TIPLOC code used to represent the combination of Tiploc and Tiploc Suffix. The first 7 digit is tiploc and the last digit is tiploc suffix if the location appears more than once in a schedule.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LatenessType">
    <xs:annotation>
      <xs:documentation>A string to indicate the number of minutes late.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="TrainCategoryCode">
    <xs:annotation>
      <xs:documentation>An ITPS Train Category code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2" />
      <xs:pattern value="[A-Z0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrainLength">
    <xs:annotation>
      <xs:documentation>Defines the length of a train</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedShort">
      <xs:maxInclusive value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActivityCodes">
    <xs:annotation>
      <xs:documentation>A set of ITPS Activity code values (6x2)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12" />
      <xs:pattern value="(..){0,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReasonCodeWithLocation">
    <xs:annotation>
      <xs:documentation>Type describing a disruption reason, optionally with a location</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="tns:ReasonCodeType">
        <xs:attribute name="tiploc" type="ct:TiplocType" use="optional">
          <xs:annotation>
            <xs:documentation>Optional TIPLOC where the reason refers to, e.g. "signalling failure at Cheadle Hulme".</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute default="false" name="near" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>If true, the tiploc attribute should be interpreted as "near", e.g. "signalling failure near Cheadle Hulme".</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>