src/Huxley/Service References/ldbStaffServiceReference/RTTI_2012-01-13_ldbsv_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ct="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" xmlns:tns="http://thalesgroup.com/RTTI/2012-01-13/ldbsv/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://thalesgroup.com/RTTI/2012-01-13/ldbsv/types" id="RTTI_2012-01-13_ldbsv_types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="rtti_2007-10-10_ldb_common_types.xsd" namespace="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" />
  <xs:simpleType name="TimeType">
    <xs:annotation>
      <xs:documentation>Represents a time displayed in a departure board or service details.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="ForecastType">
    <xs:annotation>
      <xs:documentation>An enumerated type indicating the type of a forecast</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoReport" />
      <xs:enumeration value="Forecast" />
      <xs:enumeration value="Actual" />
      <xs:enumeration value="NoLog" />
      <xs:enumeration value="Delayed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ServiceMaskType">
    <xs:annotation>
      <xs:documentation>A set of character values that can be used to filter by type of service. Values should be interpreted as P=Passenger train, B=Bus, S=Ship (ferry).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:pattern value="[BPS]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReasonCodeType">
    <xs:annotation>
      <xs:documentation>A coded cancellation or late-running reason</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="AssocCategoryType">
    <xs:annotation>
      <xs:documentation>Represents an association Category, currently either Join or Divide or Linked-To or Linked-From</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="join" />
      <xs:enumeration value="divide" />
      <xs:enumeration value="LinkFrom" />
      <xs:enumeration value="LinkTo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AdhocAlertTextType">
    <xs:annotation>
      <xs:documentation>A string to indicate the Adhoc Alert Text for the locaiton.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="DepBoardDateType">
    <xs:annotation>
      <xs:documentation>The date relative to the specified date. It is an enumeration of "Previous Day", "Same Day", and "Next Day".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PreviousDay" />
      <xs:enumeration value="SameDay" />
      <xs:enumeration value="NextDay" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DepBoardTimeType">
    <xs:annotation>
      <xs:documentation>The time of the departure board.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time" />
  </xs:simpleType>
  <xs:simpleType name="SourceType">
    <xs:annotation>
      <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of departure or arrival.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="SourceInstanceType">
    <xs:annotation>
      <xs:documentation>A string to indicate the source instance of the forecast/movement of expected time of departure or arrival.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="OverdueType">
    <xs:annotation>
      <xs:documentation>A string to indicate the number of minutes overdue.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="LatenessType">
    <xs:annotation>
      <xs:documentation>A string to indicate the number of minutes late.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="DistruptionReasonType">
    <xs:annotation>
      <xs:documentation>A string to indicate the distruption reason if exist.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="TimeLineSourceType">
    <xs:annotation>
      <xs:documentation>The Source of the historic timeline update.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="StationOperatorType">
    <xs:annotation>
      <xs:documentation>The display name of a Station Operating Company</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ServiceIDType">
    <xs:annotation>
      <xs:documentation>The ID of the service. Must be a valid UID, Headcode, or RSID. It must be a string of 4 or 6 alphanumerics.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="FullTiplocType">
    <xs:annotation>
      <xs:documentation>Full TIPLOC code used to represent the combination of Tiploc and Tiploc Suffix. The first 7 digit is tiploc and the last digit is tiploc suffix if the location appears more than once in a schedule.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfAdhocAlert">
    <xs:annotation>
      <xs:documentation>A list of Adhoc Alers related to this locationa for this service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="adhocAlertText" nillable="true" type="tns:AdhocAlertTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReasonDescription">
    <xs:annotation>
      <xs:documentation>The description of a Reason Code</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="tns:ReasonCodeType">
        <xs:annotation>
          <xs:documentation>The Reason Code value of this reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lateReason" type="xs:string">
        <xs:annotation>
          <xs:documentation>The late running reason for this Reason Code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cancReason" type="xs:string">
        <xs:annotation>
          <xs:documentation>The cancellation reason for this Reason Code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfReasonDescriptions">
    <xs:annotation>
      <xs:documentation>A list of descriptions of Reason Codes</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reason" type="tns:ReasonDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndPointLocation">
    <xs:annotation>
      <xs:documentation>An individual origin or destination location of a service. Note that vias will only be specified for destinations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="via" type="xs:string">
        <xs:annotation>
          <xs:documentation>A text string that disambiguates services that may have more than one possible route to the destination. The format will typically be as in this example: "via Manchester Piccadilly &amp; Wilmslow"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="futureChangeTo" type="ct:ServiceType">
        <xs:annotation>
          <xs:documentation>A text string contianing service type (Bus/Ferry/Train) to which will be changed in the future "</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEndPointLocations">
    <xs:annotation>
      <xs:documentation>A list of origins or destinations of an individual service. Note that a service can have multiple origins and/or destinations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="tns:EndPointLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceItem">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rid" type="ct:RIDType">
        <xs:annotation>
          <xs:documentation>A unique RTTI ID for this service that can be used to obtain full details of the service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uid" type="ct:UIDType">
        <xs:annotation>
          <xs:documentation>The TSDB Train UID value for this service, or if one is not available, then an RTTI allocated replacement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainid" type="ct:TrainIDType">
        <xs:annotation>
          <xs:documentation>The Train ID value (headcode) for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rsid" type="ct:RSIDType">
        <xs:annotation>
          <xs:documentation>The Retail Service ID for this service, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sdd" type="xs:date">
        <xs:annotation>
          <xs:documentation>The Scheduled Departure Date of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operator" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The Train Operating Company of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatorCode" type="ct:TOCCode">
        <xs:annotation>
          <xs:documentation>The Train Operating Company code of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="origin" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of origins of this service. Note that a service may have more than one origin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destination" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of destinations of this service. Note that a service may have more than one destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currentOrigins" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of origins of this service. Note that a service may have more than one origin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currentDestinations" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of destinations of this service. Note that a service may have more than one destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of arrival of this service. If no sta is present then this is the origin of this service or it does not set down passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ata" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of arrival. Will only be present if sta is also present and arrivalType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of arrival. Will only be present if sta is also present and arrivalType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of arrival forecast at this location. Will only be present if sta is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="arrivalIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the eta is to be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="std" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of departure of this service. If no std is present then this is the destination of this service or it does not pick up passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="atd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of departure. Will only be present if std is also present and departureType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="etd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of departure. Will only be present if std is also present and departureType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of departure forecast at this location. Will only be present if std is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="departureIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the etd is to be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="platform" type="ct:PlatformType">
        <xs:annotation>
          <xs:documentation>The platform number (if known).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="platformIsUnreliable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the platform number should be treated as advisory only.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCircularRoute" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A flag to indicate if this service is running as part of a circular route and will call at this location again later in its journey.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is cancelled at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDeleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is deleted. Refer to the documentation for the meaning of deleted services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDelayed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service has been delayed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="adhocAlerts" type="tns:ArrayOfAdhocAlert">
        <xs:annotation>
          <xs:documentation>A list of Adhoc Alers related to this locationa for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceItems">
    <xs:annotation>
      <xs:documentation>A list of services on a departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:ServiceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NRCCMessage">
    <xs:annotation>
      <xs:documentation>A station departure board message. The message may include embedded and xml encoded HTML-like hyperlinks and paragraphs. See the documetation for more details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="category">
        <xs:annotation>
          <xs:documentation>The Category of the message, as defined by one of the enumerated values.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Train service" />
            <xs:enumeration value="Station" />
            <xs:enumeration value="Connecting services" />
            <xs:enumeration value="System related" />
            <xs:enumeration value="Miscellaneous" />
            <xs:enumeration value="Prior (trains)" />
            <xs:enumeration value="Prior (other)" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="severity">
        <xs:annotation>
          <xs:documentation>The Severity of the message, as defined by one of the enumerated values.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Normal" />
            <xs:enumeration value="Minor" />
            <xs:enumeration value="Major" />
            <xs:enumeration value="Severe" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="xhtmlMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>The message text, which may include embedded and xml encoded HTML-like hyperlinks and paragraphs.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfNRCCMessages">
    <xs:annotation>
      <xs:documentation>A list of messages applicable to a station departure board, warning of general disruptions or important information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:NRCCMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationBoard">
    <xs:annotation>
      <xs:documentation>A structure containing details of a departure board for a specific location.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generatedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A timestamp of the time this station departure board was generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the location that this departure board is for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the location that this departure board is for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="filterLocationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>If a filter was specified in the request, the display name of the location that was specifed as the filter.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="filtercrs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>If a filter was specified in the request, the CRS code of the filter location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="to" name="filterType" type="ct:FilterType">
        <xs:annotation>
          <xs:documentation>If a filter was specified in the request, the type of filter that was requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stationManager" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The name of the TOC that manages this station, or a generic name (e.g. "Bus Station") where there is no manager.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stationManagerCode" type="ct:TOCCode">
        <xs:annotation>
          <xs:documentation>The code of the TOC that manages this station.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nrccMessages" type="tns:ArrayOfNRCCMessages">
        <xs:annotation>
          <xs:documentation>A list of messages that apply to this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="platformsAreUnreliable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If this flag is present with the value true, then any platform numbers supplied in the services lists are not guarnteed to be accurate and should not be used for public display.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="qos">
        <xs:annotation>
          <xs:documentation>A value to indicate the "quality of service" at a particular station. The value ranges from 0.0 to 1.0, where 1.0 means good and 0.0 means bad.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:minInclusive value="0.0" />
            <xs:maxInclusive value="1.0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isTruncated" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Will be present with the value "true" if more services exist in the time window but have not been returned because the request limit has been reached.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="servicesAreUnavailable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If this flag is present with the value of "true" then service data will be unavailable and the service lists will not be returned. This may happen for example if access to a station has been closed to the public at short notice, even though the scheduled services are still running.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="trainServices" type="tns:ArrayOfServiceItems">
        <xs:annotation>
          <xs:documentation>A list of train services for this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="busServices" type="tns:ArrayOfServiceItems">
        <xs:annotation>
          <xs:documentation>A list of scheduled or replacement rail bus services for this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ferryServices" type="tns:ArrayOfServiceItems">
        <xs:annotation>
          <xs:documentation>A list of ferry services for this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Association">
    <xs:annotation>
      <xs:documentation>An individual association that occurs at a ServiceLocation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="category" type="tns:AssocCategoryType">
        <xs:annotation>
          <xs:documentation>The association category, either Join or Divide or Linked-To or Linked-From.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rid" type="ct:RIDType">
        <xs:annotation>
          <xs:documentation>The RTTI ID of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uid" type="ct:UIDType">
        <xs:annotation>
          <xs:documentation>The Train UID of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainid" type="ct:TrainIDType">
        <xs:annotation>
          <xs:documentation>The Train ID (headcode) of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rsid" type="ct:RSIDType">
        <xs:annotation>
          <xs:documentation>The RSID of the associated service, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sdd" type="xs:date">
        <xs:annotation>
          <xs:documentation>The Scheduled Departure Date of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="origin" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The origin location of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="originCRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The origin CRS code of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originTiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The origin Tiploc code of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destination" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The destination location of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destCRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The destination CRS code of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destTiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The destination Tiploc code of the associated service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAssociations">
    <xs:annotation>
      <xs:documentation>A list of associations at a ServiceLocation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="association" nillable="true" type="tns:Association" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLocation">
    <xs:annotation>
      <xs:documentation>An individual location in a service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code of this location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="crs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of this location, if available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isPass" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then this is a passing location. There will be no arrival times supplied and the departure times should be interpreted as pass times. Note that passing locations are only supplied to clients that have been configured to receive them.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates that the service is cancelled at this location. Note that if this value is set to "true" then no eta/etd will be supplied, but an ata/atd may be present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disruptionReason" type="tns:ReasonCodeType">
        <xs:annotation>
          <xs:documentation>A disruption reason for this service. If the service is cancelled, this will be a cancellation reason. If the service is running late at this location, this will be a late-running reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="platform" type="ct:PlatformType">
        <xs:annotation>
          <xs:documentation>The platform number that the service is expected to use at this location, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="platformIsUnreliable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the platform number should be treated as advisory only.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="falseDest" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>A False Destination that should be displayed for this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fdTiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code of a False Destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of arrival of this service at this location. If no sta is present then this is the origin of this service or it does not set down passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ata" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of arrival. Will only be present if sta is also present and arrivalType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of arrival. Will only be present if sta is also present and arrivalType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of arrival forecast at this location. Will only be present if sta is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="arrIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the eta should be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="arrIsOverdue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the expected arrival movement at this location is now overdue. Only present for clients that receive passing locations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="std" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of departure of this service at this location. If no std is present then this is the destination of this service or it does not pick up passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="atd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of departure. Will only be present if std is also present and departureType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="etd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of departure. Will only be present if std is also present and departureType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of departure forecast at this location. Will only be present if std is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="depIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the etd should be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="depIsOverdue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the expected departure movement at this location is now overdue. Only present for clients that receive passing locations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="associations" type="tns:ArrayOfAssociations">
        <xs:annotation>
          <xs:documentation>A list of associations that occur at this location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="adhocAlerts" type="tns:ArrayOfAdhocAlert">
        <xs:annotation>
          <xs:documentation>A list of active Adhoc Alert texts  for to this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceLocations">
    <xs:annotation>
      <xs:documentation>A list of locations for a service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="tns:ServiceLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Overdue">
    <xs:annotation>
      <xs:documentation>An indication as to where a service has become Overdue.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="odtime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The time at which RTTI expected the service to make a report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isOverdueAt" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if the service is Overdue at a station location (station1). If the value is false then the service has become Overdue at a non-station point between two station locations (station1 and station2). Note that these station locations might be passing locations and will not necessarily appear in the service's Locations list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="odStation1" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The name of the station where the report should have been received, or immediately before the location where the report should have been received.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="odStation1CRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the station where the report should have been received, or immediately before the location where the report should have been received.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="odStation1Tiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code of the station where the report should have been received, or immediately before the location where the report should have been received.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="odStation2" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The name of the station immediately after the location where the report should have been received.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="odStation2CRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the station immediately after the location where the report should have been received.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="odStation2Tiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code of the station immediately after the location where the report should have been received.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceDetails">
    <xs:annotation>
      <xs:documentation>A structure containing details of an individual service obtained from a departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generatedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A timestamp of the time these service details were generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rid" type="ct:RIDType">
        <xs:annotation>
          <xs:documentation>A unique RTTI ID for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uid" type="ct:UIDType">
        <xs:annotation>
          <xs:documentation>The TSDB Train UID value for this service, or if one is not available, then an RTTI allocated replacement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainid" type="ct:TrainIDType">
        <xs:annotation>
          <xs:documentation>The Train ID value (headcode) for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rsid" type="ct:RSIDType">
        <xs:annotation>
          <xs:documentation>The Retail Service ID for this service, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sdd" type="xs:date">
        <xs:annotation>
          <xs:documentation>The Scheduled Departure Date of the service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operator" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The display name of the Train Operating Company that operates this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatorCode" type="ct:TOCCode">
        <xs:annotation>
          <xs:documentation>The code of the Train Operating Company that operates this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceType" type="ct:ServiceType">
        <xs:annotation>
          <xs:documentation>The type of service (train, bus, ferry) that these details represent. Note that real-time information (e.g. eta, etd, ata, atd, isCancelled, etc.) is only available and present for train services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDeleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is deleted. Refer to the documentation for the meaning of deleted services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDelayed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service has been delayed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="overdue" type="tns:Overdue">
        <xs:annotation>
          <xs:documentation>An indication as to where a service has become Overdue. For clients that receive passing locations, Overdue will also be indicated at the Location element affected.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locations" type="tns:ArrayOfServiceLocations">
        <xs:annotation>
          <xs:documentation>A list of the locations in the schedule. This may, or may not, contain passing locations, depending on the permissions granted to the caller.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceDetails">
    <xs:annotation>
      <xs:documentation>A list of ServiceDetails.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceDetails" nillable="true" type="tns:ServiceDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCRSCodes">
    <xs:annotation>
      <xs:documentation>A list of CRS Codes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="crs" type="ct:CRSType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisruptionMessage">
    <xs:annotation>
      <xs:documentation>A disruption message. The message may include embedded and xml encoded HTML-like hyperlinks and paragraphs. See the documetation for more details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation>The unique identifier value of this message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="category">
        <xs:annotation>
          <xs:documentation>The Category of the message, as defined by one of the enumerated values.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Train service" />
            <xs:enumeration value="Station" />
            <xs:enumeration value="Connecting services" />
            <xs:enumeration value="System related" />
            <xs:enumeration value="Miscellaneous" />
            <xs:enumeration value="Prior (trains)" />
            <xs:enumeration value="Prior (other)" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="severity">
        <xs:annotation>
          <xs:documentation>The Severity of the message, as defined by one of the enumerated values.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Normal" />
            <xs:enumeration value="Minor" />
            <xs:enumeration value="Major" />
            <xs:enumeration value="Severe" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isSuppressed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the departure board at this station is suppressed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xhtmlMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>The message text, which may include embedded and xml encoded HTML-like hyperlinks and paragraphs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the content of the message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDisruptionMessages">
    <xs:annotation>
      <xs:documentation>A list of disruption messages applicable to a station.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:DisruptionMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisruptionItem">
    <xs:annotation>
      <xs:documentation>A structure containing details of each disruption message active at a particular station.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generatedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A timestamp of the time this item was generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="crs" nillable="true" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of a requested station.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disruptions" type="tns:ArrayOfDisruptionMessages">
        <xs:annotation>
          <xs:documentation>A list of the disruptions active at this station.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDisruptionItems">
    <xs:annotation>
      <xs:documentation>A list of DisruptionItems. The order of returned items will be the same as the order requested.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:DisruptionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceInstanceName">
    <xs:annotation>
      <xs:documentation>A structure containing details of each CIS Source Instance Name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>The ID of a CIS Source Instance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>The Name of a CIS Source Instance.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSourceInstanceNames">
    <xs:annotation>
      <xs:documentation>A list of Source Instance Names.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:SourceInstanceName" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoricServiceItem">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a historic departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="uid" type="ct:UIDType">
        <xs:annotation>
          <xs:documentation>The TSDB Train UID value for this service, or if one is not available, then an RTTI allocated replacement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainid" type="ct:TrainIDType">
        <xs:annotation>
          <xs:documentation>The Train ID value (headcode) for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rsid" type="ct:RSIDType">
        <xs:annotation>
          <xs:documentation>The Retail Service ID for this service, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sdd" type="xs:date">
        <xs:annotation>
          <xs:documentation>The Scheduled Departure Date of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatorName" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The Train Operating Company of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatorCode" type="ct:TOCCode">
        <xs:annotation>
          <xs:documentation>The Train Operating Company code of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="origins" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of origins of this service. Note that a service may have more than one origin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destinations" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of destinations of this service. Note that a service may have more than one destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currentOrigins" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of current origins of this service when the service not starting from original origin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currentDestinations" type="tns:ArrayOfEndPointLocations">
        <xs:annotation>
          <xs:documentation>A list of current destinations of this service when the service/leg not terminating at the original destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="scheduledArrivalTime" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of arrival of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expectedArrivalTime" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The expected time of arrival of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of arrival forecast at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="arrivalIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the eta is to be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDelayedArrival" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service has been delayed at arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="scheduledDepartureTime" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of departure of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expectedDepartureTime" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The expected time of departure of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of departure forecast at this location. Will only be present if std is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="departureIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the etd is to be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDelayedDeparture" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service has been delayed at departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is cancelled at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isLateReinstated" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is late reinstated at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="platform" type="ct:PlatformType">
        <xs:annotation>
          <xs:documentation>The platform number (if known).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isReliablePlatforms" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate the platform is reliable or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDeleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is deleted. Refer to the documentation for the meaning of deleted services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isOverdue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is overdue.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="filterLocationCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate that if there is any filter location exist its canclled or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lateness" type="xs:int">
        <xs:annotation>
          <xs:documentation>a number to indicate the value of lateness if the train is overdure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="adhocAlerts" type="tns:ArrayOfAdhocAlert">
        <xs:annotation>
          <xs:documentation>A list of active Adhoc Alert texts  for to this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfHistoricServiceItems">
    <xs:annotation>
      <xs:documentation>A list of services on a historic departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:HistoricServiceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoricServiceLocation">
    <xs:annotation>
      <xs:documentation>An individual location in a historic service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="locationCrs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of this location, if available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullTiploc" type="tns:FullTiplocType">
        <xs:annotation>
          <xs:documentation>The FullTiploc code of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isPass" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then this is a passing location. There will be no arrival times supplied and the departure times should be interpreted as pass times. Note that passing locations are only supplied to clients that have been configured to receive them.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates that the service is cancelled at this location. Note that if this value is set to "true" then no eta/etd will be supplied, but an ata/atd may be present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isLateReinstated" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is late reinstated at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="falseDest" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>A False Destination that should be displayed for this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disruptionReason" type="xs:string">
        <xs:annotation>
          <xs:documentation>A disruption reason for this service. If the service is cancelled, this will be a cancellation reason. If the service is running late at this location, this will be a late-running reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="platform" type="ct:PlatformType">
        <xs:annotation>
          <xs:documentation>The platform number that the service is expected to use at this location, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="platformIsUnreliable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the platform number should be treated as advisory only.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of arrival of this service at this location. If no sta is present then this is the origin of this service or it does not set down passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ata" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of arrival. Will only be present if sta is also present and arrivalType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of arrival. Will only be present if sta is also present and arrivalType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of arrival forecast at this location. Will only be present if sta is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="arrIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the eta should be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="arrIsDelayed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the train is delayed at arrival time.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="std" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of departure of this service at this location. If no std is present then this is the destination of this service or it does not pick up passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="atd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of departure. Will only be present if std is also present and departureType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="etd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of departure. Will only be present if std is also present and departureType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of departure forecast at this location. Will only be present if std is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="depIsUncertain" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the etd should be treated as an "uncertain" value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="depIsDelayed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the train is delayed at departure time.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isOverdue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is overdue.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lateness" type="xs:int">
        <xs:annotation>
          <xs:documentation>A number to indicate the value of lateness if the train is overdure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="hasAdhocAlert" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to inform there is any adhoc alert attached to this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="associations" type="tns:ArrayOfAssociations">
        <xs:annotation>
          <xs:documentation>A list of associations that occur at this location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfHistoricServiceLocations">
    <xs:annotation>
      <xs:documentation>A list of locations for a historical service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="tns:HistoricServiceLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTimelineEvent">
    <xs:annotation>
      <xs:documentation>A list of timeline events of a historic timeline.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="event" nillable="true" type="tns:timelineEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timelineEvent">
    <xs:annotation>
      <xs:documentation>An individual timeline event in a historic time line.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="eventTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The date and time of the historic timeline event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="falseDestination" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The false destination name if exist.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isPassLocation" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this location is a pass location or its a stop.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isCancelled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is cancelled at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isLateReinstated" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is late reinstated at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDelayedArrival" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is delayed at arrival of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDelayedDeparture" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is delayed at departure of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isUncertainArrival" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is uncertain at arrival of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isUncertainDeparture" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is uncertain at departure of this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isOverdue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is overdure at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isReliablePlatform" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate the platform is reliable at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of arrival of this service at this location. If no sta is present then this is the origin of this service or it does not set down passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ata" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of arrival. Will only be present if sta is also present and arrivalType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eta" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of arrival. Will only be present if sta is also present and arrivalType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of arrival forecast at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="std" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The scheduled time of departure of this service at this location. If no std is present then this is the destination of this service or it does not pick up passengers at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="atd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The actual time of departure. Will only be present if std is also present and departureType has the value "Actual".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="etd" type="tns:TimeType">
        <xs:annotation>
          <xs:documentation>The estimated time of departure. Will only be present if std is also present and departureType has the value "Forecast".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureType" type="tns:ForecastType">
        <xs:annotation>
          <xs:documentation>The type of departure forecast at this location. Will only be present if std is also present.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="platform" type="ct:PlatformType">
        <xs:annotation>
          <xs:documentation>The platform number if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lateness" type="tns:LatenessType">
        <xs:annotation>
          <xs:documentation>The number of minutes that this train is late.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="distruptionReason" type="tns:DistruptionReasonType">
        <xs:annotation>
          <xs:documentation>The reason of distruption if exist.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="tns:TimeLineSourceType">
        <xs:annotation>
          <xs:documentation>The Source of the historic timeline update.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="false" name="activeAdhocExist" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then this location has got an active adhoc alert at this moment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of arrival.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSource" type="tns:SourceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source code of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="departureSourceInstance" type="tns:SourceInstanceType">
        <xs:annotation>
          <xs:documentation>A string to indicate the source description of the forecast/movement of expected time of departure.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceListItem">
    <xs:annotation>
      <xs:documentation>A list of services for a services query.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:ServiceListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceListItem">
    <xs:annotation>
      <xs:documentation>An individual service for a services query.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rid" type="ct:RIDType">
        <xs:annotation>
          <xs:documentation>A unique RTTI ID for this service that can be used to obtain full details of the service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uid" type="ct:UIDType">
        <xs:annotation>
          <xs:documentation>The TSDB Train UID value for this service, or if one is not available, then an RTTI allocated replacement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainid" type="ct:TrainIDType">
        <xs:annotation>
          <xs:documentation>The Train ID value (headcode) for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rsid" type="ct:RSIDType">
        <xs:annotation>
          <xs:documentation>The Retail Service ID for this service, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the origin location of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="originCrs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the origin location of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destinationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the destination location of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destinationCrs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the destination location of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scheduledDeparture" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A timestamp of the time that this service is scheduled to departure from origin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scheduledArrival" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>A timestamp of the time that this service is scheduled to arrive at destination.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfHistoricNRCCMessages">
    <xs:annotation>
      <xs:documentation>A list of messages applicable to a station departure board, warning of general disruptions or important information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:HistoricNRCCMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoricNRCCMessage">
    <xs:annotation>
      <xs:documentation>A station departure board message. The message may include embedded and xml encoded HTML-like hyperlinks and paragraphs. See the documetation for more details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="xhtmlMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>The message text, which may include embedded and xml encoded HTML-like hyperlinks and paragraphs.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoricDepartureBoard">
    <xs:annotation>
      <xs:documentation>A structure containing details of a historic departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="stationCrs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the station that this historic departure board is for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the station that this historic departure board is for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stationOperator" type="tns:StationOperatorType">
        <xs:annotation>
          <xs:documentation>The display name of the station operating company.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stationMessages" type="tns:ArrayOfHistoricNRCCMessages">
        <xs:annotation>
          <xs:documentation>A list of messages that apply to this departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="to" name="filterStationType" type="ct:FilterType">
        <xs:annotation>
          <xs:documentation>A string to specify the type of station filter which can be "to" or "from".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="filterStationCrs" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>An optional CRS code that will filter the returned historic departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="filterStationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>An optional station name that will filter the returned historic departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The date and time of the train has departured.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="historicDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The start date and time of the required historic departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isTableSuppressed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this information is visible to the public or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="trainServices" type="tns:ArrayOfHistoricServiceItems">
        <xs:annotation>
          <xs:documentation>A list of train services for this historic departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="busServices" type="tns:ArrayOfHistoricServiceItems">
        <xs:annotation>
          <xs:documentation>A list of scheduled or replacement rail bus services for this historic departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ferryServices" type="tns:ArrayOfHistoricServiceItems">
        <xs:annotation>
          <xs:documentation>A list of ferry services for this historic departure board.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoricServiceDetails">
    <xs:annotation>
      <xs:documentation>A structure containing details of a historic service details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="historicDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The start date and time of the required historic service details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The date and time of the train has departured.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uid" type="ct:UIDType">
        <xs:annotation>
          <xs:documentation>The TSDB Train UID value for this service, or if one is not available, then an RTTI allocated replacement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="trainid" type="ct:TrainIDType">
        <xs:annotation>
          <xs:documentation>The Train ID value (headcode) for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rsid" type="ct:RSIDType">
        <xs:annotation>
          <xs:documentation>The Retail Service ID for this service, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="operatorName" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The Train Operating Company of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="originName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the origin station of this historic service details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="originCRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the origin station of this historic service details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destinationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the destination of this historic service details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="destinationCRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the destination of this historic service details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="adhocAlerts" type="tns:ArrayOfAdhocAlert">
        <xs:annotation>
          <xs:documentation>A list of Adhoc Alers related to this locationa for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDeleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is deleted. Refer to the documentation for the meaning of deleted services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locations" type="tns:ArrayOfHistoricServiceLocations">
        <xs:annotation>
          <xs:documentation>A list of the locations in the schedule. This may, or may not, contain passing locations, depending on the permissions granted to the caller.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoricTimeLine">
    <xs:annotation>
      <xs:documentation>A structure containing details of a historic timeline.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="historicDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The start date and time of the required historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The date time of the train has departured.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uid" type="ct:UIDType">
        <xs:annotation>
          <xs:documentation>The TSDB Train UID value for this service, or if one is not available, then an RTTI allocated replacement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainid" type="ct:TrainIDType">
        <xs:annotation>
          <xs:documentation>The Train ID value (headcode) for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rsid" type="ct:RSIDType">
        <xs:annotation>
          <xs:documentation>The Retail Service ID for this service, if known.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatorName" type="ct:TOCName">
        <xs:annotation>
          <xs:documentation>The Train Operating Company of this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originName" nillable="true" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the origin station of this historic service timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originCRS" nillable="true" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the origin station of this historic service timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destinationName" nillable="true" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the destination of this historic service timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destinationCRS" nillable="true" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the destination of this historic service timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentLocationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the current station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentLocationCRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the current station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentLocationTiploc" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code code of the current station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currentLocationOperator" type="tns:StationOperatorType">
        <xs:annotation>
          <xs:documentation>The display name of the current staion operating company of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prevLocationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the previous station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prevLocationCRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the previous station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prevLocationTiploc" nillable="true" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code code of the previous station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prevLocationIsFirst" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate the previous location is the first location in the journey.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nextLocationName" type="ct:LocationNameType">
        <xs:annotation>
          <xs:documentation>The display name of the next station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nextLocationCRS" type="ct:CRSType">
        <xs:annotation>
          <xs:documentation>The CRS code of the next station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nextLocationTiploc" nillable="true" type="ct:TiplocType">
        <xs:annotation>
          <xs:documentation>The Tiploc code code of the next station of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nextLocationIsLast" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate the next location is the last location in the journey.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timelineEvents" type="tns:ArrayOfTimelineEvent">
        <xs:annotation>
          <xs:documentation>A list of timeline events of this historic timeline.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoricServiceList">
    <xs:annotation>
      <xs:documentation>A structure containing details of a historic services query.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="scheduleStartDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The Scheduled Departure Date of the services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="serviceList" type="tns:ArrayOfServiceListItem">
        <xs:annotation>
          <xs:documentation>A list of services found for this historic services query.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceList">
    <xs:annotation>
      <xs:documentation>A structure containing details of a services query.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="scheduleStartDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The Scheduled Departure Date of the services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="serviceList" type="tns:ArrayOfServiceListItem">
        <xs:annotation>
          <xs:documentation>A list of services found for this services query.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>